.main-content-component {
    width: 99vw;
}

.content-element {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

@media(min-width: 480px) {
    .main-content-component {
        padding-top: 5vh;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}
