<div class="content-table-component">
    <main>
        <h2 class="text-center">Übersicht über die API</h2>
        <table id="table" align="center">
            <tr class="header-row text-center">
                <th>Request Art</th>
                <th>Beschreibung</th>
                <th>URL</th>
                <th>Beispiel Request</th>
<!--                <th colspan="2">Telephone</th>-->
            </tr>
        </table>
    </main>
</div>

<script src="./src/selfhtmlTable/selfhtmlTable.js"></script>
