/* Table Styles */
button {
    display: block;
    width: 12em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    margin-top: 2em;
}

table,td, caption {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em 50px 0.4em 0.4em;
    max-width: 100% !important;
    white-space:nowrap;
}


caption {
    background: #666;
    color: #e9f3f8 !important;
    text-align: center !important;
    font-weight: bold;
    caption-side: top !important;
}

.header-row {
    height: 40px !important;
}

