body {
    margin: 1em auto;
    max-width: 60em;
    font-family: sans-serif;
    color: #333333;
}


.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

h1 {
    font-size: 100%;
    padding-top: 60px;
}


@media(min-width: 320px) {
    h1 {
        font-size: 120%;
    }
}

@media(min-width: 400px) {
    h1 {
        font-size: 100%;
        /*padding-left: 200px;*/
        padding-top: 1rem;
    }
}

@media(min-width: 480px) {
    h1 {
        font-size: 110%;
        padding-left: 50px;
        padding-top: 1rem;
    }
}

@media(min-width: 560px) {
    h1 {
        font-size: 120%;
    }
}

@media(min-width: 640px) {
    h1 {
        font-size: 140%;
    }
}

@media(min-width: 720px) {
    h1 {
        font-size: 200%;
    }
}